GOOGLE_CREDENTIALS_BASE64=your_base64_encoded_google_credentials_here
GOOGLE_SHEET_ID=your_sheet_id_here
API_BASE_URL=your_api_base_url_here
API_BASE_URL_DEV=your_api_base_dev_url_here
API_KEY=your_api_key_here
NETLIFY_SITE_ID=your_netlify_site_id_here
NETLIFY_ACCESS_TOKEN=your_netlify_access_token_here