<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologias no Diabetes - Ferramentas</title>
    <link rel="icon" type="image/png" href="./img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Tecnologias no Diabetes" />
    <link rel="manifest" href="./img/site.webmanifest" />
    <link rel="stylesheet" href="./css/geral.css">
    <link rel="stylesheet" href="./css/testador-nightscout.css">
</head>

<body>
    {{> view-counter }}
    <div class="container"><br>
        {{> menu }}
        <a class="return-index" href="ferramentas.html">Retornar</a>
        {{> notificacoes }}

        <section>
            <h2 class="category-title">
                Testador de Nightscout <img src="./img/icons/icon-nightscout.png" alt="Ícone Nightscout"
                    class="icon-category" style="width:20px;height:24px;vertical-align:middle;">
            </h2>

            <p>Essa é uma ferramenta utilizada para ajudar a diagnosticar problemas com o Nightscout. Seu Nightscout
                está
                fora do ar, ou você configurou incorretamente? Insira a URL e a API Secret e descubra agora!</p>

            <label for="urlInput">URL do Nightscout:</label>
            <input type="text" id="urlInput" size="50"
                placeholder="URL do Nightscout (ex: https://meunightscout.fly.dev)" oninput="gerarQRCode()">
            <div id="urlError" class="error-message hidden">Por favor, informe a URL do Nightscout.</div>
            <br><br>

            <label for="apiSecretInput">API Secret do Nightscout:</label>
            <input type="text" id="apiSecretInput" size="50" placeholder="API Secret do Nightscout"
                oninput="gerarQRCode()">
            <div id="apiSecretError" class="error-message hidden">Por favor, informe a API Secret do Nightscout.</div>
            <br>

            <button id='testNightscout'>Testar</button>

            <ul class="status-list hidden">
                <li class="status-item">É uma URL de Nightscout válida? <img id="validUrl" class="status-icon"
                        src="./img/no-result.png"></li>
                <li class="status-item">A API Secret está correta? <img id="correctSecret" class="status-icon"
                        src="./img/no-result.png"></li>
                <li class="status-item">Há dados recentes? <img id="recentData" class="status-icon"
                        src="./img/no-result.png"></li>
                <li class="status-item">Banco de dados está com espaço de sobra? <img id="DbFreeSpace"
                        class="status-icon" src="./img/no-result.png"></li>
                <li class="status-item">Tudo funcionando perfeitamente? <img id="EverythingWorking" class="status-icon"
                        src="./img/no-result.png"></li>
            </ul>
            <h2 class="hidden">Resumo:</h2>
            <pre id="resume" class="hidden">Aguardando testes concluírem...</pre>

            <br><br>
            <button class="hidden">Limpar dados</button>
            <button class="hidden">Salvar sessão</button>
            <button class="hidden">Compartilhar no Whatsapp</button>

            <br>
            <h3 class="disclaimer-title" id="categories-disclaimer-title">Transparência e Responsabilidade</h3>
            <p class="disclaimer-body" id="categories-disclaimer-body">Entendemos que a API Secret é um dado sensível,
                sendo assim, nenhum dado inserido aqui nesta página será
                enviado ou tramitado sem o consentimento pleno do usuário. Esta ferramenta em questão existe única e
                exclusivamente para ajudar usuários a diagnosticarem possíveis problemas com o seu Nightscout, a fim de
                dar autonomia para que cada um consiga corrigir sem ajuda externa dos voluntários do grupo de
                Tecnologias no Diabetes. Ainda assim, caso não se sinta confortável, não a utilize.
            </p>
        </section>

    </div>

    {{> social-media }}
    {{> footer }}
    <script>
        window.env = {
            API_BASE_URL: "{{apiBaseUrl}}",
            API_KEY: "{{apiKey}}",
            MOST_RECENT_NOTIFICATION_ID: "{{mostRecentNotificationId}}"
        };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="./js/geral.js"></script>
    <script src="./js/testador-nightscout.js"></script>
</body>

</html>