<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnologias no Diabetes - Materiais Educativos</title>
    <link rel="icon" type="image/png" href="./img/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Tecnologias no Diabetes" />
    <link rel="manifest" href="./img/site.webmanifest" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/geral.css">
</head>

<body>
    {{> view-counter }}
    <div class="container" id="main-container-pdfs"><br>
        {{> menu }}
        <a class="return-index" id="return-index-pdfs" href="conteudos-uteis-categorias.html">Retornar</a>
        {{> notificacoes }}

        <div class="hero downloads" id="hero-section-pdfs">
            <h1 id="pdfs-main-title">{{title}}</h1>
            <p id="pdfs-main-description">{{description}}</p>
        </div>

        <br>
        {{> search-bar }}
        <!-- Seção de PDFs -->
        <div id='recursos' class="row g-4">
            {{#each pdfs}}
            <div class="col-6 col-md-3 no-padding" id="card-pdf-{{@index}}">
                <div class="card text-center p-2" id="card-pdf-inner-{{@index}}">
                    <a href="{{this.url}}" target="_blank" id="open-pdf-{{@index}}">
                        <img src="{{this.thumbnail}}" class="pdf-thumbnail mx-auto" alt="Prévia do documento" id="pdf-thumbnail-{{@index}}">
                    </a>
                    <div class="card-body no-padding" id="card-pdf-body-{{@index}}">
                        <a href="{{this.url}}" class="card-title d-block" target="_blank" id="pdf-title-{{@index}}">{{this.title}}</a>
                        <a href="{{this.url}}" download class="btn btn-sm btn-info mt-2" id="download-pdf-{{@index}}">Baixar</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <br>
        <h3 class="disclaimer-title" id="pdfs-disclaimer-title">Transparência e Responsabilidade</h3>
        <p class="disclaimer-body" id="pdfs-disclaimer-body">Os materiais aqui disponibilizados têm como único objetivo auxiliar pessoas no controle e manejo do diabetes. 
            Este é um projeto realizado por nossa equipe, totalmente sem fins lucrativos, com o intuito de compartilhar informações úteis e acessíveis. 
            Ressaltamos que boa parte destes materiais são de acesso público, e, nos casos de conteúdos de autoria particular, solicitamos e obtivemos 
            autorização prévia dos respectivos proprietários para disponibilizá-los. Caso algum conteúdo precise ser removido por qualquer motivo, 
            comprometemo-nos a retirá-lo do ar imediatamente, respeitando a autoria e os direitos associados.
        </p>
    </div>
    {{> social-media }}
    {{> footer }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        window.env = {
            API_BASE_URL: "{{apiBaseUrl}}",
            API_KEY: "{{apiKey}}",
            MOST_RECENT_NOTIFICATION_ID: "{{mostRecentNotificationId}}",
        };
    </script>
    <script src="./js/geral.js"></script>
    <script src="./js/barra-pesquisa.js"></script>
</body>
</html>
