@import url('variables.css');

.faq-item {
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;
}

.faq-question {
    width: 100%;
    text-align: left;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--faq-question-bg);
    color: #0056a3;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    position: relative;
}

@media (hover: hover) {
    .faq-question:hover {
        background-color: var(--faq-question-hover-bg);
    }
}

@media (hover: none) {
    .faq-question:hover {
        background-color: var(--faq-question-bg);
    }
}

.faq-question:active {
    background-color: var(--faq-question-bg);
}

.faq-question .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
    position: absolute;
    right: 10px;
}

.faq-question.active .arrow {
    transform: rotate(-225deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 10px;
    background-color: var(--faq-answer-bg);
    font-size: 14px;
    line-height: 1.6;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer .share-icon.whatsapp {
    float: right;
}

.lista-abbott {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.faq-item.highlighted {
    outline: 2px solid var(--primary-color);
    background-color: var(--faq-question-bg);
    box-shadow: 0 4px 8px var(--container-shadow);
}