.box-sibionics-model {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

@media (min-width: 1024px) {
    .box-sibionics-model {
        max-width: 300px;
    }
}

.qrcode-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.qrcode-output {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.qrcode-output img {
    transition: transform 0.3s ease, opacity 0.3s ease;
    max-width: 250px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 8px;
}

/* Remover qualquer zoom no hover especificamente nesta página */
#page-tools-qr .qrcode-output img:hover {
    transform: none;
    opacity: 1;
}

@media (max-width: 768px) {
    .category-title {
        font-size: 1.5rem;
    }
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 0.5rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
}

/* Desativar zoom de cards nesta página */
#page-tools-qr .card:hover {
    transform: none !important;
}