@import url('variables.css');

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.container {
    background-color: var(--container-bg);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--container-shadow);
    max-width: 1200px;
    width: 100%;
    padding-left: 30px;
    position: relative;
}

.container section {
    padding-top: 18px;
}

.container section h2 {
    color: var(--secondary-color);
    top: 149px;
}

h1,
h2 {
    color: var(--primary-color);
    text-align: center;
}

.disclaimer-title {
    text-align: center;
}

.disclaimer-body {
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.container ul button {
    background-image: var(--button-bg);
    background-color: #5bb5ff;
    border-radius: 20px;
    font-size: 13px;
    font-family: sans-serif;
    line-height: normal;
}

.container ul li {
    background-color: var(--light-bg);
    padding-left: 4px;
    padding-right: 4px;
}

.container section ul {
    margin-left: -10px;
    margin-right: -10px;
}

.category-title,
#content-tutorials ul {
    margin-left: -15px;
    margin-right: -10px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
    min-height: 65px;
    position: relative;
    gap: 10px;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 120px);
}

li .buttons {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 5px;
    flex-shrink: 0;
}

button:last-child {
    margin-bottom: 0;
}

button:hover {
    background-color: var(--button-hover-bg);
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}

.category {
    margin-bottom: 20px;
}

.category-title {
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}

.category-content {
    padding-left: 5px;
    margin-top: 10px;
}

.category-icon {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.arrow.active {
    transform: rotate(-225deg);
}

.view-counter {
    font-size: 13px;
    line-height: 12px;
    position: fixed;
    top: 20px;
    right: 0;
    background-color: #ecf0f1;
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px var(--container-shadow);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    z-index: 2;
}

.view-counter .title {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 120, 215, 0.3);
    color: #0056a3;
}

.view-counter .values {
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 120, 215, 0.3);
    color: #0056a3;
}

.view-counter .values.last-value {
    border-right: none;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 0.9rem;
    color: var(--secondary-color);
}

#search-bar {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
}

.sidenav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--container-bg);
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 75px;
    min-height: calc(100% - 75px);
    height: auto;
    box-shadow: 2px 0 5px var(--container-shadow);
    z-index: 999;
}

.sidenav.active {
    width: 250px;
}

.sidenav a {
    padding: 8px 8px 12px 32px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--primary-color);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #818181;
    cursor: pointer;
}

.menu-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    padding: 0;
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
    z-index: 1000;
}

button.menu-icon {
    transition: background-color 0.3s ease;
}

@media (hover: hover) {
    .menu-icon:hover {
        background-color: rgba(0, 120, 215, 0.4);
    }
}

@media (hover: none) {
    .menu-icon:hover {
        background-color: rgba(0, 120, 215, 0.1);
    }
}

.menu-icon:active {
    background-color: rgba(0, 120, 215, 0.1);
}

.return-index {
    background: none;
    border: none;
    padding: 0;
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
    top: 25px;
    bottom: 10px;
}

.notification-bell {
    position: absolute;
    top: 35px;
    right: 20px;
    cursor: pointer;
}

.notification-bell img {
    width: 30px;
    height: 30px;
}

.share-section {
    margin-top: 50px;
    text-align: center;
}

.share-section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.share-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.share-btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.share-btn.fb {
    background-color: #3b5998;
}

.share-btn.twitter {
    background-color: #1da1f2;
}

.share-btn.whatsapp {
    background-color: #25d366;
}

.share-btn.linkedin {
    background-color: #0077b5;
}

.share-btn:hover {
    opacity: 0.8;
}

.share-icon .whatsapp {
    position: absolute;
    top: 35px;
    right: 20px;
    cursor: pointer;
}

.share-icon img {
    width: 40px;
    height: 30px;
    cursor: pointer;
    padding-left: 10px;
}

.hero {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 50px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.container .hero {
    background-image: linear-gradient(to right, #24c6dc 0%, #514a9d 100%);
    margin-top: 25px;
}

.hero.tutoriais {
    background-image:linear-gradient(to right, #43c6ac 0%, #191654 100%);
}

.hero.downloads {
    background-image:linear-gradient(to right, #314755 0%, #26a0da 100%);
    margin-bottom: 0px;
}

.hero.faq {
    background-image:linear-gradient(to right, #34e89e 0%, #0f3443 100%);
    margin-bottom: 0px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.hero p {
    font-size: 1.2rem;
    margin-top: 15px;
    color: white;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.container .col-md-4 .card {
    background-color: rgba(236, 240, 241, 0.57);
}

.pdf-thumbnail {
    width: 100%; /* Ajusta a largura da imagem para ocupar todo o card */
    height: auto; /* Define uma altura fixa para a imagem */
    max-height: 200px;
    object-fit: contain; /* Faz a imagem se ajustar ao tamanho mantendo proporções e preenchendo o espaço */
    border-radius: 5px; /* Adiciona bordas arredondadas à imagem para combinar com o card */
}

.no-padding {
    padding: 0;
}

#recursos .card .card-title{
    text-decoration:none;
   }

.highlight {
    animation: highlightAnimation 3s ease-in-out;
    background-color: rgba(255, 255, 0, 0.3); /* Amarelo claro */
}

@keyframes highlightAnimation {
    0% {
        background-color: rgba(255, 255, 0, 0.3);
    }
    100% {
        background-color: transparent;
    }
}