<div id="my-sidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" id="close-menu-btn" onclick="closeNav()">×</a>
    <a href="index.html" id="menu-home">Início</a>
    <a href="downloads.html" id="menu-downloads">Downloads de aplicativos</a>
    <a href="tutoriais.html" id="menu-tutorials">Tutoriais</a>
    <a href="faq.html" id="menu-faq">FAQ</a>
    <a href="quiz.html" id="menu-quiz">Quiz</a>
    <a href="conteudos-uteis-categorias.html" id="menu-useful-contents">Conteúdos úteis</a>
    <a href="ferramentas.html" id="menu-useful-tools">Ferramentas úteis</a>
    <a href="notificacoes.html" id="menu-notifications">Notificações/Avisos</a>
</div>

<button class="menu-icon" id="open-menu-btn" onclick="toggleNav()">☰</button>
